


<style>
    table, th, td {
  border: 1px solid black;
  margin-top:20%;
}
 
 
</style>


<div class="row justify-content-md-center">
        <h1 style="text-align: center; margin-top:5%">Submitted Subject Data</h1>
    </div>

<div class="row justify-content-md-center">
    
    

    <div class="col-md-6">
<table class="table" >

    <tr>

        <th scope="col">Subject Code</th>
        <td>{{data.scode}}</td>
    </tr>

    <tr>
        <th scope="col">Subject Name</th>
        <td>{{data.sname}}</td> 
    </tr>

    
    <tr>
        <th scope="col">Institute Name</th>
        <td>{{data.iname}}</td>
    </tr>

    
    <tr>
        <th scope="col">Department Name</th>
        
        <td>{{data.dname}}</td>
    </tr>
    
    <tr>
        <th scope="col">Semester</th>
        <td>{{data.sem}}</td>
    </tr>

  </table>
</div>
</div>




